<form class="d-flex gap-4 card p-4" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <section>
    <label for="username" class="form-label">Username</label>
    <input type="text" id="username" class="form-control"
           [ngClass]="{'is-invalid': registerForm.get('username')?.invalid && registerForm.get('username')?.touched}"
           formControlName="username">
    <small *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched" class="p-error">Username is required.</small>
  </section>
  <section>
    <label for="password" class="form-label">Password</label>
    <input type="password" id="password" class="form-control"
           [ngClass]="{'is-invalid': registerForm.get('password')?.invalid && registerForm.get('password')?.touched}"
           formControlName="password">
    <small *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="p-error">Password is required.</small>
  </section>
  <section>
    <label for="email" class="form-label">Email</label>
    <input type="text" id="email" class="form-control"
           [ngClass]="{'is-invalid': registerForm.get('email')?.invalid && registerForm.get('email')?.touched}"
           formControlName="email">
    <small *ngIf="registerForm.get('email')?.hasError('required') && registerForm.get('email')?.touched" class="p-error">Email is required.</small>
    <small *ngIf="registerForm.get('email')?.hasError('email') && registerForm.get('email')?.touched" class="p-error">Email is invalid.</small>
  </section>
  <app-reusable-form></app-reusable-form>
  <p-button type="submit" label="Submit" [rounded]="true" severity="success"></p-button>
</form>
